<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h3>Hi <%= @member.name %></h3>
  Your car on carrental has been made available! Please log in to reserve it.
</body>
</html>